<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>

<body>
    <h1>đây là back end của đồ án tốt nghiệp musMedi</h1>
    <p>
        dataClinic: <br><br><br>
        <%= dataClinic %>
    </p>
</body>

</html>